_build/
CMakeFiles
cmake-build-debug
/.idea/.gitignore
/.cmake/api/v1/query/cache-v2
/.cmake/api/v1/reply/cache-v2-f650bdaac5a921c6f3b9.json
/quic/api/test/cmake_install.cmake
/quic/api/cmake_install.cmake
/quic/client/test/cmake_install.cmake
/quic/client/cmake_install.cmake
/quic/codec/test/cmake_install.cmake
/quic/codec/cmake_install.cmake
/quic/common/events/cmake_install.cmake
/quic/common/test/cmake_install.cmake
/quic/common/udpsocket/cmake_install.cmake
/quic/common/cmake_install.cmake
/quic/congestion_control/test/cmake_install.cmake
/quic/congestion_control/cmake_install.cmake
/quic/dsr/test/cmake_install.cmake
/quic/dsr/cmake_install.cmake
/quic/fizz/client/handshake/test/cmake_install.cmake
/quic/fizz/client/test/cmake_install.cmake
/quic/fizz/client/cmake_install.cmake
/quic/fizz/handshake/test/cmake_install.cmake
/quic/fizz/handshake/cmake_install.cmake
/quic/fizz/cmake_install.cmake
/quic/flowcontrol/test/cmake_install.cmake
/quic/flowcontrol/cmake_install.cmake
/quic/handshake/cmake_install.cmake
/quic/happyeyeballs/cmake_install.cmake
/quic/logging/test/cmake_install.cmake
/quic/logging/cmake_install.cmake
/quic/loss/test/cmake_install.cmake
/quic/loss/cmake_install.cmake
/quic/observer/cmake_install.cmake
/quic/priority/test/cmake_install.cmake
/quic/priority/cmake_install.cmake
/quic/samples/cmake_install.cmake
/quic/server/handshake/test/cmake_install.cmake
/quic/server/test/cmake_install.cmake
/quic/server/cmake_install.cmake
/quic/state/stream/test/cmake_install.cmake
/quic/state/test/cmake_install.cmake
/quic/state/cmake_install.cmake
/quic/tools/tperf/cmake_install.cmake
/quic/tools/cmake_install.cmake
/quic/xsk/cmake_install.cmake
/quic/cmake_install.cmake
/cmake_install.cmake
/build/CMakeCache.txt
/CMakeCache.txt
/.cmake/api/v1/query/cmakeFiles-v1
/.cmake/api/v1/reply/cmakeFiles-v1-89d765661ad1e279ae1b.json
/.cmake/api/v1/query/codemodel-v2
/.cmake/api/v1/reply/codemodel-v2-d9fbe692f91c3a5ee379.json
/.idea/codeStyles/codeStyleConfig.xml
/.cmake/api/v1/reply/directory-.-Release-99117a120b6515b3c71b.json
/.cmake/api/v1/reply/directory-quic.api.test-Release-e54533d01fd39ac1c1e2.json
/.cmake/api/v1/reply/directory-quic.api-Release-e07bb661ac9f611610be.json
/.cmake/api/v1/reply/directory-quic.client.test-Release-4ebaeccb6228c3565b28.json
/.cmake/api/v1/reply/directory-quic.client-Release-a356157e152ef7e783e1.json
/.cmake/api/v1/reply/directory-quic.codec.test-Release-53bf29f7b206e085d120.json
/.cmake/api/v1/reply/directory-quic.codec-Release-bf6704ceddcd56635007.json
/.cmake/api/v1/reply/directory-quic.common.events-Release-41fd092698077d1c3466.json
/.cmake/api/v1/reply/directory-quic.common.test-Release-3223188f117a0ea45fe2.json
/.cmake/api/v1/reply/directory-quic.common.udpsocket-Release-104015f18242d1e64435.json
/.cmake/api/v1/reply/directory-quic.common-Release-c0cbb83727624d62ce6b.json
/.cmake/api/v1/reply/directory-quic.congestion_control.test-Release-fb3b49b7928aac40c8f8.json
/.cmake/api/v1/reply/directory-quic.congestion_control-Release-adf1c4ca9df5d8179c55.json
/.cmake/api/v1/reply/directory-quic.dsr.test-Release-57f1761c7d7f517be031.json
/.cmake/api/v1/reply/directory-quic.dsr-Release-3a8d07d4cfb65a3bcd2d.json
/.cmake/api/v1/reply/directory-quic.fizz.client.handshake.test-Release-6880c13531a4bb32c817.json
/.cmake/api/v1/reply/directory-quic.fizz.client.test-Release-019a21a265de3814426c.json
/.cmake/api/v1/reply/directory-quic.fizz.client-Release-15a6531793d10b526103.json
/.cmake/api/v1/reply/directory-quic.fizz.handshake.test-Release-970faaccdf648f07091f.json
/.cmake/api/v1/reply/directory-quic.fizz.handshake-Release-78d5cf8288101e849f12.json
/.cmake/api/v1/reply/directory-quic.fizz-Release-e56864c844f1ac37e58d.json
/.cmake/api/v1/reply/directory-quic.flowcontrol.test-Release-54fc50e32053be8d4812.json
/.cmake/api/v1/reply/directory-quic.flowcontrol-Release-61030af0b497e79985c3.json
/.cmake/api/v1/reply/directory-quic.handshake-Release-36d48904cbebbe539f52.json
/.cmake/api/v1/reply/directory-quic.happyeyeballs-Release-726d6c2a568d25576afa.json
/.cmake/api/v1/reply/directory-quic.logging.test-Release-a9df6f5cb036aefbb11b.json
/.cmake/api/v1/reply/directory-quic.logging-Release-e43f24f76f56001d4c76.json
/.cmake/api/v1/reply/directory-quic.loss.test-Release-46ac464eaf208ae144c9.json
/.cmake/api/v1/reply/directory-quic.loss-Release-9fdf4eeffffc4c5936c0.json
/.cmake/api/v1/reply/directory-quic.observer-Release-ba9b7cce339de52fa51b.json
/.cmake/api/v1/reply/directory-quic.priority.test-Release-e2ed9ed68633e72f91d8.json
/.cmake/api/v1/reply/directory-quic.priority-Release-44748de248c43ca6743d.json
/.cmake/api/v1/reply/directory-quic.samples-Release-4250227dbfba6e403dba.json
/.cmake/api/v1/reply/directory-quic.server.handshake.test-Release-5a461d270076f134513e.json
/.cmake/api/v1/reply/directory-quic.server.test-Release-87c4fcf528098966d53a.json
/.cmake/api/v1/reply/directory-quic.server-Release-a4313334fcd9466595f2.json
/.cmake/api/v1/reply/directory-quic.state.stream.test-Release-636499fb7d2b0b2db611.json
/.cmake/api/v1/reply/directory-quic.state.test-Release-5062948a549515a570c1.json
/.cmake/api/v1/reply/directory-quic.state-Release-3f9e4ac4991d1587ce35.json
/.cmake/api/v1/reply/directory-quic.tools.tperf-Release-dbfe56cc49c0249f7c50.json
/.cmake/api/v1/reply/directory-quic.tools-Release-8b421bb195be03b586e1.json
/.cmake/api/v1/reply/directory-quic.xsk-Release-82a2c46fb9b418d60540.json
/.cmake/api/v1/reply/directory-quic-Release-5f8ce994cc15ace5f4c3.json
/.idea/editor.xml
/.cmake/api/v1/reply/index-2025-07-23T19-21-27-0695.json
/install_manifest.txt
/Testing/Temporary/LastTest.log
/quic/api/libmvfst_ack_scheduler.a
/quic/common/udpsocket/libmvfst_async_udp_socket.a
/quic/api/libmvfst_batch_writer.a
/quic/common/libmvfst_buf_accessor.a
/quic/common/libmvfst_bufutil.a
/quic/congestion_control/libmvfst_cc_algo.a
/quic/client/libmvfst_client.a
/quic/codec/libmvfst_codec.a
/quic/codec/libmvfst_codec_decode.a
/quic/codec/libmvfst_codec_packet_number_cipher.a
/quic/codec/libmvfst_codec_pktbuilder.a
/quic/codec/libmvfst_codec_pktrebuilder.a
/quic/codec/libmvfst_codec_types.a
/quic/libmvfst_constants.a
/quic/dsr/libmvfst_dsr_backend.a
/quic/dsr/libmvfst_dsr_frontend.a
/quic/dsr/libmvfst_dsr_types.a
/quic/common/events/libmvfst_events.a
/quic/libmvfst_exception.a
/quic/fizz/client/libmvfst_fizz_client.a
/quic/fizz/handshake/libmvfst_fizz_handshake.a
/quic/flowcontrol/libmvfst_flowcontrol.a
/quic/handshake/libmvfst_handshake.a
/quic/happyeyeballs/libmvfst_happyeyeballs.a
/quic/priority/libmvfst_http_priority_queue.a
/quic/common/libmvfst_looper.a
/quic/loss/libmvfst_loss.a
/quic/observer/libmvfst_observer.a
/quic/logging/libmvfst_qlogger.a
/quic/priority/libmvfst_round_robin.a
/quic/server/libmvfst_server.a
/quic/server/libmvfst_server_async_tran.a
/quic/server/libmvfst_server_state.a
/quic/state/libmvfst_state_ack_handler.a
/quic/state/libmvfst_state_datagram_handler.a
/quic/state/libmvfst_state_functions.a
/quic/state/libmvfst_state_machine.a
/quic/state/libmvfst_state_pacing_functions.a
/quic/state/libmvfst_state_simple_frame_functions.a
/quic/state/libmvfst_state_stream.a
/quic/state/libmvfst_state_stream_functions.a
/quic/api/libmvfst_transport.a
/quic/common/libmvfst_transport_knobs.a
/quic/state/libmvfst_transport_settings_functions.a
/quic/xsk/libmvfst_xsk.a
/quic/api/test/Makefile
/quic/api/Makefile
/quic/client/test/Makefile
/quic/client/Makefile
/quic/codec/test/Makefile
/quic/codec/Makefile
/quic/common/events/Makefile
/quic/common/test/Makefile
/quic/common/udpsocket/Makefile
/quic/common/Makefile
/quic/congestion_control/test/Makefile
/quic/congestion_control/Makefile
/quic/dsr/test/Makefile
/quic/dsr/Makefile
/quic/fizz/client/handshake/test/Makefile
/quic/fizz/client/test/Makefile
/quic/fizz/client/Makefile
/quic/fizz/handshake/test/Makefile
/quic/fizz/handshake/Makefile
/quic/fizz/Makefile
/quic/flowcontrol/test/Makefile
/quic/flowcontrol/Makefile
/quic/handshake/Makefile
/quic/happyeyeballs/Makefile
/quic/logging/test/Makefile
/quic/logging/Makefile
/quic/loss/test/Makefile
/quic/loss/Makefile
/quic/observer/Makefile
/quic/priority/test/Makefile
/quic/priority/Makefile
/quic/samples/Makefile
/quic/server/handshake/test/Makefile
/quic/server/test/Makefile
/quic/server/Makefile
/quic/state/stream/test/Makefile
/quic/state/test/Makefile
/quic/state/Makefile
/quic/tools/tperf/Makefile
/quic/tools/Makefile
/quic/xsk/Makefile
/quic/Makefile
/Makefile
/.idea/misc.xml
/.idea/modules.xml
/.idea/mvfst.iml
/mvfst-config.cmake
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/quic/congestion_control/SwitchableCC_old.cpp
/quic/congestion_control/SwitchableCC_old.h
/.cmake/api/v1/reply/target-mvfst_ack_scheduler-Release-d56bba5faf425178c909.json
/.cmake/api/v1/reply/target-mvfst_async_udp_socket-Release-ed30e4692afae3ee768e.json
/.cmake/api/v1/reply/target-mvfst_batch_writer-Release-838d136b981c3c16cb9e.json
/.cmake/api/v1/reply/target-mvfst_buf_accessor-Release-c6a8e39819911f0b036f.json
/.cmake/api/v1/reply/target-mvfst_bufutil-Release-d5b2f57141d2ce70caab.json
/.cmake/api/v1/reply/target-mvfst_cc_algo-Release-b377b20b2e93d027a982.json
/.cmake/api/v1/reply/target-mvfst_client-Release-af3c81de13f39d92c445.json
/.cmake/api/v1/reply/target-mvfst_codec-Release-aa91c2d97e1f53b6778a.json
/.cmake/api/v1/reply/target-mvfst_codec_decode-Release-ed7f12d4e74081fcb639.json
/.cmake/api/v1/reply/target-mvfst_codec_packet_number_cipher-Release-ee53308065bd4a43f71b.json
/.cmake/api/v1/reply/target-mvfst_codec_pktbuilder-Release-196ca0995a9c5308ba48.json
/.cmake/api/v1/reply/target-mvfst_codec_pktrebuilder-Release-9dcdf4ac5371e5094b25.json
/.cmake/api/v1/reply/target-mvfst_codec_types-Release-9ab9b2644118ba56a722.json
/.cmake/api/v1/reply/target-mvfst_constants-Release-24d151b879fa81ea3704.json
/.cmake/api/v1/reply/target-mvfst_dsr_backend-Release-83154b5ae22f143f9623.json
/.cmake/api/v1/reply/target-mvfst_dsr_frontend-Release-adcb8fa33509f04c9ddb.json
/.cmake/api/v1/reply/target-mvfst_dsr_types-Release-f6109cf952752adb908a.json
/.cmake/api/v1/reply/target-mvfst_events-Release-699a48f7ee5a4a2e853e.json
/.cmake/api/v1/reply/target-mvfst_exception-Release-eb343d64291c7eca25b8.json
/.cmake/api/v1/reply/target-mvfst_fizz_client-Release-0de0b2677c29c7d7b1fc.json
/.cmake/api/v1/reply/target-mvfst_fizz_handshake-Release-735205eaa5ff1d1744f7.json
/.cmake/api/v1/reply/target-mvfst_flowcontrol-Release-cdd8463b6dda19a71049.json
/.cmake/api/v1/reply/target-mvfst_handshake-Release-d1cd6ef971ac3d3ad9e2.json
/.cmake/api/v1/reply/target-mvfst_happyeyeballs-Release-1f0d927099992b2303fa.json
/.cmake/api/v1/reply/target-mvfst_http_priority_queue-Release-ec6ae41a9e4a1bfa4d8c.json
/.cmake/api/v1/reply/target-mvfst_looper-Release-f622342b28b52014b549.json
/.cmake/api/v1/reply/target-mvfst_loss-Release-e165b529d54af331da4c.json
/.cmake/api/v1/reply/target-mvfst_observer-Release-a352b379b1dc6d841575.json
/.cmake/api/v1/reply/target-mvfst_qlogger-Release-683f85d4f528e0c2ea94.json
/.cmake/api/v1/reply/target-mvfst_round_robin-Release-c2728fb470416ca0cdd6.json
/.cmake/api/v1/reply/target-mvfst_server-Release-323ad3f09f4b7917ee34.json
/.cmake/api/v1/reply/target-mvfst_server_async_tran-Release-666de51f9588ce544644.json
/.cmake/api/v1/reply/target-mvfst_server_state-Release-1579524f5c7555cf4d11.json
/.cmake/api/v1/reply/target-mvfst_state_ack_handler-Release-02dd9ee90e300e8cab61.json
/.cmake/api/v1/reply/target-mvfst_state_datagram_handler-Release-6b4ac123471563f07bcb.json
/.cmake/api/v1/reply/target-mvfst_state_functions-Release-08b92f5aa1800b13dfe8.json
/.cmake/api/v1/reply/target-mvfst_state_machine-Release-a71037d4dceb7275bde8.json
/.cmake/api/v1/reply/target-mvfst_state_pacing_functions-Release-99a23b40bd9b7381bbc2.json
/.cmake/api/v1/reply/target-mvfst_state_simple_frame_functions-Release-33871a833d0397f7d3ad.json
/.cmake/api/v1/reply/target-mvfst_state_stream-Release-bbc26e52c1a5981ca376.json
/.cmake/api/v1/reply/target-mvfst_state_stream_functions-Release-aba24a099f6cd0a50915.json
/.cmake/api/v1/reply/target-mvfst_transport-Release-70025be3b8afeefeec0c.json
/.cmake/api/v1/reply/target-mvfst_transport_knobs-Release-758cee484e67d9fa697a.json
/.cmake/api/v1/reply/target-mvfst_transport_settings_functions-Release-1caf2f70e7d1dfe36ec7.json
/.cmake/api/v1/reply/target-mvfst_xsk-Release-cc02ca8ec9fee009a4cc.json
/.cmake/api/v1/query/toolchains-v1
/.cmake/api/v1/reply/toolchains-v1-ee793ea44d57a62b2395.json
/.idea/vcs.xml
